.grid-container{
    display: grid;
    grid-template-columns: 50%  auto;
  }

.task-card{
    max-width: 80vw;
    margin: 30px auto;
}

.translate-button{
    text-align: right;
}
  

.done-check{
    margin: 0px 20px;
}

.add-item-button{
    position: fixed;
    bottom: 5vh;
    right: 2vw;
}

.no-tasks{
    font-size: 30px;
    font-weight: 300;
    color: gray;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.no-tasks button{
    margin: 2rem;
}