.grid-container{
    display: grid;
    grid-template-columns: 50%  auto;
  }

.task-card{
    max-width: 90vw;
    margin: 20px auto;
}

.translate-button{
    text-align: right;
}
  

.done-check{
    margin: 0px 20px;
}