<mat-toolbar color="primary">
  <a routerLink="/">
    <span>ToDo</span>
  </a>

  <span class="example-spacer"></span>    
  <button title="Dashboard" *ngIf="admin == 'true'" routerLink="dashboard" mat-icon-button class="example-icon login-icon" aria-label="Example icon-button login">
    <mat-icon>manage_accounts</mat-icon>
  </button>
  <button title="Login" *ngIf="!user" routerLink="authenticate" mat-icon-button class="example-icon login-icon" aria-label="Example icon-button login">
    <mat-icon>login</mat-icon>
  </button>
  
  <button title="Logout" *ngIf="user" (click)="logout()" mat-icon-button class="example-icon login-icon" aria-label="Example icon-button login">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>